.google-map-canvas{
  width: 100%;
  min-width: 300px;
  border: 1px solid #333;
  margin-bottom: 15px;
  @media only screen and (min-width: 0) {
    height: 300px;
  }
  @media only screen and (min-width: $screen-md-min) {
    height: 520px;
  }
}
