<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="sc823">
        <patch:attribute name="hostName">www.sc823.com</patch:attribute>
        <patch:attribute name="targetHostName">www.sc823.com</patch:attribute>
        <patch:attribute name="cacheHtml">true</patch:attribute>
        <patch:attribute name="enableDebugger">false</patch:attribute>
        <patch:attribute name="allowDebug">false</patch:attribute>
      </site>      
    </sites>
  </sitecore>
</configuration>
