<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <scoreMasterConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="default tile" tileName="default" siteContext="sc823" returnType="System.String">Score.Custom.Indexing.PreviewField, Score.Custom</field>
            <field fieldName="search result tile" tileName="Search Result" siteContext="sc823" returnType="System.String">Score.Custom.Indexing.PreviewField, Score.Custom</field>
            <field fieldName="autocomplete tile" tileName="Autocomplete" siteContext="sc823" returnType="System.String">Score.Custom.Indexing.PreviewField, Score.Custom</field>
          </fields>
        </scoreMasterConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
