<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Media.RequestExtension">
        <patch:attribute name="value"></patch:attribute>
      </setting>
      <setting name="Media.IncludeExtensionsInItemNames">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="Media.MediaLinkPrefix">
        <patch:attribute name="value">-/media</patch:attribute>
      </setting>
      <setting name="Media.AlwaysIncludeServerUrl">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="ImageTypes">
        <patch:attribute name="value">|gif|jpg|png|svg|</patch:attribute>
      </setting>
    </settings>
    <customHandlers>
      <handler trigger="-/media/" handler="sitecore_media.ashx" />
    </customHandlers>
  </sitecore>
</configuration>
